@mixin button($color: green) {
    min-width: 24px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, .7);
    padding: 6px;

    & i{
        font-size: 24px;
    }

    &:active, &.active{
        color: $color;
    } 
    
    &:hover{
        background: #eee;
        cursor: pointer;
    }   
}

@mixin clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}